//Global
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb{
        background: darkgrey;
    }

}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%
}

h1{
    font-size: 2.5rem;
    color: #333;
}

h2{
    font-size: 2rem;
    color: #333;
}

h3{
    font-size: 1.6rem;
    color: #333;
    padding: 1rem 0rem;
}
h4{
    font-size: 1.3rem;
    color: #333;
    padding: 1rem 0rem;
}
p{
    font-size: 1.2rem;
    line-height: 200%;
    color:#696969;
}
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
}

input{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

img{
    display: block;
}

li{
    margin-left: 10px;
}
ul{
    padding: 5px;
    margin-left: 5px;
}